<div class="container mt-4">
  <h3>Login</h3>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label>College Admin</label>
      <input type="text" class="form-control" formControlName="admin">

      <small class="text-danger"
        *ngIf="loginForm.get('admin')?.touched && loginForm.get('admin')?.errors?.['required']">
        College Admin is required
      </small>
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">

      <small class="text-danger"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
        Password is required
      </small>
    </div>

    <div class="text-danger mb-2" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">
      Signin
    </button>&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" (click)="signup()">
      Singup
    </button>
  </form>
</div>