<br>
<button class="btn btn-primary mb-3" (click)="about()">Add</button>
<!-- 🔄 Loading -->

<!-- <div class="profile" (click)="logout()">
  <div class="profile-circle">
    {{ adminInitial }}
  </div> -->
  <!-- <span>{{ adminName }}</span> -->
<!-- </div> -->

<div class="profile-wrapper">
  <div class="profile-circle" (click)="toggleProfileDropdown()">
    {{ adminInitial }}
  </div>

  
  <div class="profile-dropdown" *ngIf="showProfileDropdown">
    
    <div class="dropdown-name">
      {{ adminName }}
    </div>



    <button type="button" class="dropdown-item" (click)="logout()">
      Logout
    </button>
  </div>
</div>

<!-- <button class="btn btn-danger" (click)="logout()">Logout</button> -->

<div *ngIf="isLoading" class="text-center mt-3">
  <div class="spinner-border text-primary"></div>
</div>
<table class="table table-bordered text-center mt-3" *ngIf="!isLoading && students.length > 0">
  <thead>
    <tr>
        <th>SR No</th>
      <th>College Admin</th>
      <th>College Name</th>
      <th>College Area</th>
      <th class="d-none">Password</th>
      <th>College Code</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let student of students; "> -->
     <tr *ngFor="let student of students; let i = index"> 
        <td>{{i+1}}</td>
        <td>{{ student.admin | lowercase }}</td>
      <td>{{ student.name | lowercase }}</td>  <!--pipe -->
      <td>{{ student.college_Area }}</td>
      <td class="d-none">{{ student.passsword }}</td>
      <td>{{ student.college_code }}</td>
      <td>
         <button class="btn btn-primary btn-sm"
        (click)="editStudent(student)">
  Update
</button>	&nbsp;
          <button  class="btn btn-danger btn-sm" (click)="deleteStudents(student.id, i)"> Delete </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
<button class="btn btn-primary mb-3" (click)="previousPage()" [disabled]="currentPage === 1">
  Previous
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<span>Page {{ currentPage }}</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary mb-3" (click)="nextPage()" 
        [disabled]="currentPage * pageSize >= totalRecords">
  Next
</button>
</div>
