<p>Registration</p>



<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label>College Admin</label>
    <input type="text" class="form-control" formControlName="admin">
    <div *ngIf="form.get('admin')?.touched">
         <div *ngIf="form.get('admin')?.errors?.['required']" class="text-danger">
            Admin is required
        </div>
        <div *ngIf="form.get('admin')?.errors?.['pattern']" class="text-danger">
            Only alphabets allowed
        </div>
    </div>

  </div>

    <div class="mb-3">
    <label>College Name</label>
    <input type="text" class="form-control" formControlName="name">
    <div *ngIf="form.get('name')?.touched">
         <div *ngIf="form.get('name')?.errors?.['required']" class="text-danger">
            Name is required
        </div>
        <div *ngIf="form.get('name')?.errors?.['pattern']" class="text-danger">
            Only alphabets allowed
        </div>
    </div>

  </div>

  <div class="mb-3">
    <label>College Area</label>
    <input type="text" class="form-control" formControlName="college_Area">
    <div *ngIf="form.get('college_Area')?.touched">
         <div *ngIf="form.get('college_Area')?.errors?.['required']" class="text-danger">
            College Area is required
        </div>
        <div *ngIf="form.get('college_Area')?.errors?.['pattern']" class="text-danger">
            Only alphabets allowed
        </div>
    </div>

  </div>

  <div class="mb-3">
    <label>Password</label>
    <input type="text" class="form-control" formControlName="password">
    <div *ngIf="form.get('password')?.touched">
         <div *ngIf="form.get('password')?.errors?.['required']" class="text-danger">
            Password is required
        </div>
        <div *ngIf="form.get('password')?.errors?.['pattern']" class="text-danger">
            Minimum 6 characters required
        </div>
    </div>

  </div>


<button class="btn btn-primary">
  {{ selectedStudentId ? 'Update' : 'Submit' }}
</button>&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" (click)="home()">
      Back
    </button>
</form>
